/* Write your CSS here */
.app-container {
  display: flex;
  background-image: linear-gradient(to top, #9796f0, #fbc7d4);
  justify-content: center;
  height: 150vh;
}

.appointment-container {
  background-color: white;
  width: 95%;
  height: 100vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 652px;
  margin-top: 55px;
  margin-bottom: 55px;
}

.appointments-container {
  display: flex;
  flex-direction: column;
  width: 86%;
  max-width: 972px;
}

.add-appointments-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 64px;
}

.add-appointment-heading {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 24px;
  padding-left: 60px;
  padding-top: 30px;
}

@media screen and (min-width: 768px) {
  .add-appointment-heading {
    font-size: 22px;
    margin-bottom: 48px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .form {
    width: 45%;
    max-width: 320px;
  }
}
.label {
  padding-left: 60px;
  padding-bottom: 5px;
  font-family: 'Roboto';
  color: #b5b7c4;
  font-size: 15px;
  margin-top: 20px;
}

.input-container {
  margin-left: 60px;
}

.add-button {
  align-self: flex-start;
  background-color: #8b5cf6;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  outline: none;
  margin-left: 60px;
  margin-top: 20px;
}

.appointments-img {
  display: none;
}

@media screen and (min-width: 768px) {
  .appointments-img {
    display: block;
    width: 49%;
  }
}

.line {
  border: 1px solid #b5b7c4;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 32px;
  padding-left: 20px;
}

.header-with-filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.appointments-heading {
  font-family: 'Roboto';
  font-size: 20px;
  padding-left: 10px;
}

.filter-style {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 600;
  border-radius: 25px;
  padding-left: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 16px;
  border: none;
  outline: none;
}

.filter-empty {
  color: #9897f0;
  background-color: white;
  border: 1px solid #9897f0;
}

.filter-filed {
  background-color: #9796f0;
  color: white;
}

.list-item {
  padding: 10px;
  margin: 10px;
}
